[Desktop Entry]
Version=1.0
Type=Application
Name=Le Chat
Comment=Mistral AI Chat Desktop Application
Exec={{app_exec}}
Icon={{app_icon}}
Terminal=false
Categories=Network;Chat;InstantMessaging;
StartupWMClass=le-chat
StartupNotify=true
Keywords=chat;ai;mistral;lechat;
MimeType=x-scheme-handler/lechat;
